// Some code copied from the Typora Newsprint theme
// https://github.com/typora/typora-theme-gallery

blockquote {
	font-style: italic;
	border-left: 5px solid;
	margin-left: 2em;
	padding-left: 1em;
}

ul,
ol {
	margin: 0 0 1.5em 1.5em;
}

table {
	margin-bottom: 1.5em;
	font-size: 1em;
}
thead th,
tfoot th {
	padding: .25em .25em .25em .4em;
	text-transform: uppercase;
}
th {
	text-align: left;
}
td {
	vertical-align: top;
	padding: .25em .25em .25em .4em;
}

code {
	background-color: #dadada;
	padding-left: 1ch;
	padding-right: 1ch;
}
pre,
code,
tt {
	font-size: .875em;
	line-height: 1.7;
}
h1 {
	line-height: 1.3em;
	font-weight: normal;
	margin-bottom: 0.5em;
}
pre {
	background-color: #dadada;
	padding: 1ch;
}